.header {
    height: 55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228);
}

.leftsection {
    display: flex;
    align-items: center;
    margin-left: 24px;
    min-width: 160px;
}

.middlesection {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.searchbar {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;   <!-- To make the search bar shrink -->
}

.searchbar::placeholder {
    font-size: 16px;
}

.searchicon {
    height: 25px;
    margin-top: 4px;
}

.searchbutton {
    height: 38px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
}

.searchbutton,
.voicesearchbutton,
.uploadiconcontainer,
.ytapps,
.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbutton .tooltip,
.voicesearchbutton .tooltip,
.uploadiconcontainer .tooltip,
.ytapps .tooltip,
.notify .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px; 
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.searchbutton:hover .tooltip,
.voicesearchbutton:hover .tooltip,
.uploadiconcontainer:hover .tooltip,
.ytapps:hover .tooltip,
.notify:hover .tooltip
{
    opacity: 1;
}



.voice {
    height: 24px;
    margin-top: 4px;
}


.voicesearchbutton {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245,245,245);

}


.rightsection {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;      <!-- Prevents Icons from Shrinking -->
}


.hamburger {
    height: 24px;
    margin-left: 2px;
    margin-right: 20px;
}

.ytlogo {
    height: 20px;
}

.uploadicon {
    height: 24px;
}

.ytappicon {
    height: 24px;
}

.ytnotification {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(200,0,0);
    border-radius: 10px;
}

.currentuser {
    height: 32px;
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: black;
}




p {
    margin-top: 0px;
    margin-bottom: 0px;
}


.profile-container1 .imgtip,
.profile-container2 .imgtip,
.profile-container3 .imgtip,
.profile-container4 .imgtip,
.profile-container5 .imgtip,
.profile-container6 .imgtip {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 240px;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    background-color: white;
    z-index: 10;
}


.profile-container1,
.profile-container2,
.profile-container3,
.profile-container4,
.profile-container5,
.profile-container6 {
    position: relative;
    display: inline-block;
}

.profile-container1:hover .imgtip,
.profile-container2:hover .imgtip,
.profile-container3:hover .imgtip,
.profile-container4:hover .imgtip,
.profile-container5:hover .imgtip,
.profile-container6:hover .imgtip {
    opacity: 1;
}



.pich {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: none;
    border-radius: 30px;
    margin-right: 12px;
}


.para {
    display: flex;
    flex-direction: column;
}

.p1 {
    display: flex;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;
    margin-top: 6px;
}

.p2 {
    display: flex;
    color: rgb(118, 115, 115);
}