
@media (max-width: 1200px) {

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}


.sidebar-link {
    display: flex;
    height: 74px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235,235,235);

}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
} 


.sidebar-link div {
    font-size: 10px;
}


}



@media (min-width: 1200.1px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        padding-top: 5px;
        width: 240px;  /* expand sidebar */
        z-index: 200;
    }

    .sidebar-link {
        display: flex;
        flex-direction: row;  
        justify-content: flex-start;
        align-items: center;
        padding: 0 15px;
        height: 50px;
        margin-top: 10px;
        cursor: pointer;
    }

    .sidebar-link img {
        margin-bottom: 0px;    
        margin-left: 15px;
        margin-right: 15px;
        height: 24px;
    }

    .sidebar-link div {
        font-size: 14px;
    }

   main {
        margin-left: 165px;
        }
    
}
